<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denzo.in_live">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/inlive"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inlive"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".Activity.InitActivity" android:exported="false" />
        <activity android:name=".Activity.MoviesActivity" android:exported="false" />
        <activity android:name=".Activity.PlayerActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:exported="false" />
        <activity android:name=".Activity.SeriesActivity" android:exported="false" />
        <activity android:name=".Activity.VootListingActivity" android:exported="false" />
        <activity android:name=".Activity.MoviesDetailsActivity" android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>